
body
   { background-image:url(RD-americas-favorite-foods-FT-Getty-Images-7-JValentine.jpg);
    background-size: cover;
   }

h1

{
    font-size:30px;
    color: red;
    text-align: center;
    text-shadow: blue;
    
}
.svg
{
    width: 600px;
    margin-left: 70%;
    margin-top: -50%;
    height: 996px;
    top: 10%;
}
.svg path
{
    fill: transparent;
    stroke: rgb(105, 162, 162);
    stroke-width: 1px;
    transition: fill 0.3s;
}

.mapsl :hover
{
    inline-size: #9b9b9b;
}