*{
    margin: 0;
    padding: 0;

}

body{
    background-image:url(RD-americas-favorite-foods-FT-Getty-Images-7-JValentine.jpg);
    overflow-y: hidden;
    overflow-x: hidden;
}

.mapsl
{
    width: 500px;
    margin-left: 5%;
    margin-top: -10%;
    height: 800px;
    top: 10%;
}
