*{
    margin: 0;
    padding: 0;

}

body{
    background-image:url(milky-way-2695569_1280.jpg);
    overflow-y: hidden;
    overflow-x: hidden;
}

.mapsl
{
    width: 500px;
    margin-left: 7%;
    margin-top: 0%;
    height: 566px;
    top: 10%;
}
